<div class="Dialog Dialog--action-to-doctor">
    <img class="Dialog__image" ng-src="{{doctor.profileimage}}?s=250&d=monsterid" alt="{{doctor.name}}" title="{{doctor.name}}"
    />
    <div class="Dialog__title">
        Call rejected
    </div>
    <div class="Dialog__subtitle">
        <span class="Dialog__text-red"><span ng-if="doctor.type == 'doctor'">dr.</span> {{doctor.name}}</span> has rejected <span ng-if="doctor.type == 'doctor'">your</span><span ng-if="doctor.type == 'patient'">the</span> call.
    </div>
    <div class="Dialog__action">
        <button ng-click="closeWindow()" class="Button Button--outline-gray">OKAY</button>
    </div>
</div>