<div class="Dialog Dialog--information Dialog--information-welcome">
    <div class="Dialog__title">
        Welcome {{profile.name}}
    </div>
    <div class="Dialog__subtitle">
        Welcoming you in our telemedicine platform. Please complete your public profile and you will be featured in our platform.
        It only takes a couple minutes.
    </div>
    <div class="Dialog__action">
        <button ng-click="gotoProfile()" class="Button Button--outline-blue">COMPLETE YOUR PROFILE</button>
        <button ng-click="close()" class="Button Button--outline-red">SKIP</button>
    </div>
</div>