<img height="150px" width="150px" ng-src="{{'http://www.gravatar.com/avatar/'+doctor.profileimage}}" />
<h3>Your status is</h3>
<h1>{{doctor.status}}</h1>
<md-input-container>
    <label>Change status</label>
    <md-select ng-model="doctor.status">
        <md-option ng-repeat="state in onlinestatuses" value="{{state}}">
            {{state}}
        </md-option>
    </md-select>
</md-input-container>
<h3>Available</h3>
<span>Patients can reach you right away</span>
<h3>Unavailable</h3>
<span>Patients have to book a consultation</span>
<h3>Maybe</h3>
<span>Patients ask you if you are available</span>

<md-divider></md-divider>
<p>0 PATIENTS IN YOUR WAITING ROOM</p>
<!--<hr>
<h3>Your ID is : {{currentPeerID}}</h3>
<input type="button" value="Call John Cena" ng-click="gotoChatRoom()" />-->