body, html {
    height: 100%;
    margin: 0;
}
#videos {
    position: block;
    /* width: 50%; */
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    /* float: left; */
}
#chat {
    position: absolute;
    width: 50%;
    /* height: 100%; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* float: right; */
    background-color: lightgray;
    right: 0px;
}
#subscriber {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: 10;
    background-color: gray;
}
#publisher {
    position: absolute;
    width: 250px;
    height: 150px;
    bottom: 10px;
    left: 10px;
    z-index: 100;
    border: 3px solid white;
    border-radius: 3px;
}
#controls{
    position: absolute;
    width: auto;
    /* height: 150px; */
    bottom: 20px;
    left: 300px;
    z-index: 100;
    /* display: inline-flex; */
    padding: 20px;
}