<div class="Section Section--header">
    <div class="Title">
        <div class="Title__text">Welcome {{$root.userObject.name}}</div>
        <div class="Title__subtitle">Complete your account &amp; personal information. We want to know you better, so we can serve you better.</div>
    </div>
</div>

<div class="Section">
    <div class="Title">
        <div class="Title__text">Account Settings</div>
        <div layout="row">
            <div layout="column" class="md-padding" layout-align="start center">
                <img width="200px" height="200px" ng-src="{{$root.userObject.profileimage + '?s=300&d=monsterid'}}" class="md-avatar" alt="{{$root.userObject.name}}">
                <h1>{{$root.userObject.name}}</h1>
                <p>{{$root.userObject.otherdata.speciality}} | {{$root.userObject.city}}, {{$root.userObject.country}}</p>
                <h1>{{$root.userObject.otherdata.rate}}</h1>
                <span><i class="icon ion-heart"></i> Helped 124 People</span>
                <span><i class="icon ion-thumbsup"></i> Recieved 104 Thanks</span>
            </div>
            <div flex>
                <label>Email</label>
                <input ng-model="$root.userObject.username" ng-disabled="true" type="email" />
                <label>Password</label>
                <input ng-model="oldpassword" type="password" />
            </div>
            <div flex>
                <label>Username</label>
                <input ng-model="$root.userObject.username" ng-disabled="true" type="text" />
                <label>Confirm Password</label>
                <input ng-model="newpassword" type="password" />
                <button ng-disabled="passUpdating" ng-click="updatePassword($event)">Update Password</button>
            </div>

        </div>
    </div>
</div>

<div class="Section">
    <div class="Title">
        <div class="Title__text">Profile Settings</div>
        <div layout="column">
            <label>Name</label>
            <input ng-model="$root.userObject.name" type="text" />
            <div layout="row">
                <label>Date of Birth</label>
                <select name="day" id="day" ng-model="selectedDay">
                    <option ng-repeat="day in days" value="{{day}}">{{day}}</option>
                </select>
                <select name="month" id="month" ng-model="selectedMonth">
                    <option ng-repeat="month in months" value="{{month}}">{{month}}</option>
                </select>
                <select name="year" id="year" ng-model="selectedYear">
                    <option ng-repeat="year in years" value="{{year}}">{{year}}</option>
                </select>
            </div>
            <label>Gender</label>
            <select ng-model="$root.userObject.gender">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
            <label>City</label>
            <input ng-model="$root.userObject.city" type="text" />
            <label>Country</label>
            <select ng-model="$root.userObject.country">
                <option value="volvo">Volvo</option>
                <option value="Sri Lanka">Sri Lanka</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
            </select>
            <label>Language</label>
            <div flex>
                <input type="checkbox" name="languages" value="English" checked>English</input>
                <input type="checkbox" name="languages" value="Indonisian">Indonisian</input>
            </div>
            <button ng-disabled="updating" ng-click="updateProfileDetails($event)">Update Profile</button>
        </div>

    </div>
</div>

<div ng-if="$root.userObject.type == 'doctor'" class="Section">
    <div class="Title">
        <div class="Title__text">Personal Information</div>
        <div layout="column">
            <label>Speciality</label>
            <input ng-model="$root.userObject.otherdata.speciality" type="text" />
            <label>Currency</label>
            <input ng-model="$root.userObject.otherdata.currency" type="text" />
            <label>Rate</label>
            <input ng-model="$root.userObject.otherdata.rate" type="text" />
            <label>Short Biography</label>
            <input ng-model="$root.userObject.otherdata.shortbiography" type="text" />
            <label>Awards</label>
            <input ng-model="$root.userObject.otherdata.awards" type="text" />
            <label>Graduate School</label>
            <input ng-model="$root.userObject.otherdata.graduateschool" type="text" />
            <label>Residence Place</label>
            <input ng-model="$root.userObject.otherdata.residenceplace" type="text" />


            <button ng-disabled="updatingPersonal" ng-click="updatePersonalDetails($event)">Update Personal Information</button>
        </div>

    </div>
</div>

<div class="Section">
    <div class="Title">
        <div class="Title__text">Email Notifications</div>
        <div class="Title__subtitle">When I get a new message, send me email notifications.</div>
        <div flex>
            <input type="radio" name="gender" value="male" checked> Instantly<br>
            <input type="radio" name="gender" value="female"> Once every 15 minutes<br>
            <input type="radio" name="gender" value="other"> Once an hour at most<br>
            <input type="radio" name="gender" value="other"> Never
        </div>

    </div>
</div>
</div>

<!--<div layout="row">
    <div layout="column" class="md-padding" layout-align="start center">
        <img width="200px" height="200px" ng-src="{{$root.userObject.profileimage + '?s=300&d=monsterid'}}" class="md-avatar" alt="{{$root.userObject.name}}">
        <h1>{{$root.userObject.name}}</h1>
        <p>{{$root.userObject.otherdata.speciality}} | {{$root.userObject.city}}, {{$root.userObject.country}}</p>
        <h1>{{$root.userObject.otherdata.rate}}</h1>
        <span><i class="icon ion-heart"></i> Helped 124 People</span>
        <span><i class="icon ion-thumbsup"></i> Recieved 104 Thanks</span>
    </div>
    <div flex>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Overview">
                <md-content class="md-padding">
                    <h3>Professioncal Statement</h3>
                    <p>"My motto of like, Do the best and let God do the rest"</p>
                    <h3>Languages Spoken</h3>
                    <p>English,German</p>
                    <h3>Conditions Treated</h3>
                    <p>Headache</p>
                    <h3>Procedures performed</h3>
                    <p>Surgery</p>
                    <h3>Awards</h3>
                    <p>Award number one</p>
                </md-content>
            </md-tab>
            <md-tab label="Messages">
                <md-content class="md-padding">
                    messages comes here
                </md-content>
            </md-tab>
        </md-tabs>
    </div>
</div-->