<div class="Wrapper">
        <div class="Wrapper__why-us Intro">
            <img class="Intro__person" src="../build/img/welcome/doctor.png" alt="Dokter.ID" title="Dokter.ID" />
            <div class="Intro__explanation">
                <div class="Intro__logo">
                    <img class="Logo" src="../build/img/logo-full.png" alt="Dokter.ID" title="Dokter.ID" />
                </div>
                <div class="Intro__title">Reshaping the Future of Healthcare</div>
                <div class="Intro__subtitle">We presents a telemedicine platform that connected peoples with healthcare providers anytime and anywhere</div>
                <ul class="Intro__feature Feature">
                    <li class="Feature__item">
                        <img class="Feature__icon" src="../build/img/welcome/feature/video-consultation.png" alt="Live Video Consultation" title="Live Video Consultation" width="80" height="80" />
                        <span class="Feature__text">Live Video Consultation</span>
                    </li>
                    <li class="Feature__item">
                        <img class="Feature__icon" src="../build/img/welcome/feature/schedule-consultation.png" alt="Schedule Consultation" title="Schedule Consultation" width="80" height="80" />
                        <span class="Feature__text">Schedule Consultation</span>
                    </li>
                    <li class="Feature__item">
                        <img class="Feature__icon" src="../build/img/welcome/feature/privacy.png" alt="Privacy &amp; Security" title="Privacy &amp; Security" width="80" height="80" />
                        <span class="Feature__text">Privacy &amp; Security</span>
                    </li>
                    <li class="Feature__item">
                        <img class="Feature__icon" src="../build/img/welcome/feature/file-sharing.png" alt="Easy File Sharing" title="Easy File Sharing" width="80" height="80" />
                        <span class="Feature__text">Easy File Sharing</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="Wrapper__form-wrapper">
            <div class="Box">
                <div class="Box__title">Join and be part of the future of healthcare</div>
                <!-- <div class="Box__subtitle">Please enter your email to help us identify you</div> -->
                <form class="Box__form Form">
                    <div class="Form__group">
                        <button ng-click="navigateURL('patient')" class="Button--rounded Button--register Button--register-pink">
                            SIGN UP AS PATIENT
                        </button>
                    </div>
                    <div class="Form__group">
                        <button ng-click="navigateURL('doctor') " class="Button--rounded Button--register Button--register-orange">
                            SIGN UP AS DOCTOR
                        </button>
                    </div>
                </form>
                <div class="Box__bottom-link">
                    Already User? <a href="#/signin">SIGN IN</a> here
                </div>
            </div>
        </div>
    </div>