<div class="Wrapper">
        <div class="Wrapper__why-us Intro">
            <img class="Intro__person" src="../build/img/welcome/doctor.png" alt="Dokter.ID" title="Dokter.ID" />
            <div class="Intro__explanation">
                <div class="Intro__logo">
                    <img class="Logo" src="../build/img/logo-full.png" alt="Dokter.ID" title="Dokter.ID" />
                </div>
                <div class="Intro__title">Reshaping the Future of Healthcare</div>
                <div class="Intro__subtitle">We presents a telemedicine platform that connected peoples with healthcare providers anytime and anywhere</div>
                <ul class="Intro__feature Feature">
                    <li class="Feature__item">
                        <img class="Feature__icon" src="../build/img/welcome/feature/video-consultation.png" alt="Live Video Consultation" title="Live Video Consultation" width="80" height="80" />
                        <span class="Feature__text">Live Video Consultation</span>
                    </li>
                    <li class="Feature__item">
                        <img class="Feature__icon" src="../build/img/welcome/feature/schedule-consultation.png" alt="Schedule Consultation" title="Schedule Consultation" width="80" height="80" />
                        <span class="Feature__text">Schedule Consultation</span>
                    </li>
                    <li class="Feature__item">
                        <img class="Feature__icon" src="../build/img/welcome/feature/privacy.png" alt="Privacy &amp; Security" title="Privacy &amp; Security" width="80" height="80" />
                        <span class="Feature__text">Privacy &amp; Security</span>
                    </li>
                    <li class="Feature__item">
                        <img class="Feature__icon" src="../build/img/welcome/feature/file-sharing.png" alt="Easy File Sharing" title="Easy File Sharing" width="80" height="80" />
                        <span class="Feature__text">Easy File Sharing</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="Wrapper__form-wrapper">
            <div class="Box">
                <div class="Box__title">Join and be part of the future of healthcare</div>
                <!-- <div class="Box__subtitle">Please enter your email to help us identify you</div> -->
                <form name="signup" class="Box__form Form">
                    <div class="Form__group">
                        <label for="name" class="Form__label">Name</label>
                        <input ng-model="name" required name="name" id="name" type="text" class="Form__control" placeholder="Name" />
                        <div ng-if="signup.name.$invalid" class="Form__message">
                            Please Enter Your Name
                        </div>
                    </div>
                    <div class="Form__group">
                        <label for="email" class="Form__label">Email</label>
                        <input ng-model="username" required name="email" id="email" type="email" class="Form__control" placeholder="Email" />
                        <div ng-if="signup.email.$invalid" class="Form__message">
                            Please Enter Your Email
                        </div>
                    </div>
                    <div class="Form__group">
                        <label for="password" class="Form__label">Password</label>
                        <input ng-model="password" required name="password" id="password" type="password" class="Form__control" placeholder="Password" />
                        <div ng-if="signup.password.$invalid" class="Form__message">
                            Please Enter Your Password
                        </div>
                    </div>
                    <div class="Form__group">
                        <button ng-click="signupUser('doctor',$event)" class="Form__control Form__control--button Button Button--big Button--register-orange">
                            Create Account
                        </button>
                    </div>
                </form>
                <div class="Box__bottom-link">
                    Already User? <a href="#/signin">SIGN IN</a> here
                </div>
            </div>
        </div>
    </div>