<h1>Doctor Registration</h1>
<table>
    <tr>
        <td><label>Name</label></td>
        <td> <input type="text" ng-model="firstname" /></td>
    </tr>
    <tr>
        <td><label>Email</label></td>
        <td><input type="text" ng-model="username" /></td>
    </tr>
    <tr>
        <td><label>Password</label></td>
        <td><input type="password" ng-model="password" /></td>
    </tr>
    <tr>
        <td></td>
        <td>
            <input type="button" value="Create Profile" />
        </td>
    </tr>
</table>
<br>
<div>
    <p>Already a User? <a href="#/login">Login now!</a></p>
</div>