<div class="Section Section--header">
    <div class="Title">
        <div class="Title__text">Talk to our doctor online, anytime and anywhere</div>
        <div class="Title__subtitle">See patients or doctors via live video, audio or text consultations will reach and significantly improves convenience</div>
    </div>
</div>

<div class="Section">
    <div class="Home">
        <div class="Home__filter">
        </div>
        <div class="Home__card">
            <div class="Card Card--search-doctor">
                <div class="Card__image ProfileImage ProfileImage--available">
                    <a href="doctor-detail-overview.html">
                        <img class="ProfileImage__image" src="../build/img/sample/doctor3.png" alt="Dokter / Member Name" title="Dokter / Member Name"
                        />
                    </a>
                </div>
                <div class="Card__information">
                    <a href="doctor-detail-overview.html">
                        <div class="Card__name">dr. Cindy Annathasshia</div>
                        <div class="Card__speciality">General Practitioner</div>
                        <div class="Card__rate Rate">
                            <div class="Rate__type Rate--love">
                                <img class="Rate__image" src="build/img/form/love.png" alt="Love" title="Love" />
                                <span class="Rate__text">110 People</span>
                            </div>
                            <div class="Rate__type Rate--thumb">
                                <img class="Rate__image" src="build/img/form/thumb.png" alt="Thumb" title="Thumb" />
                                <span class="Rate__text">110 Thanks</span>
                            </div>
                        </div>
                        <div class="Card__price Price">
                            <span class="Price__currency">IDR</span>
                            <span class="Price__amount">100.000</span>
                        </div>
                    </a>
                    <div class="Card__action">
                        <button type="button" name="button" class="Button Button--outline-green">CALL NOW</button>
                        <button type="button" name="button" class="Button Button--outline-gray">MESSAGE</button>
                    </div>
                </div>
            </div>

            <div class="Card Card--search-doctor">
                <div class="Card__image ProfileImage ProfileImage--unavailable">
                    <a href="doctor-detail-overview.html">
                        <img class="ProfileImage__image" src="build/img/sample/doctor1.png" alt="Dokter / Member Name" title="Dokter / Member Name"
                        />
                    </a>
                </div>
                <div class="Card__information">
                    <a href="doctor-detail-overview.html">
                        <div class="Card__name">dr. Achmad Zaki, Sp. OT</div>
                        <div class="Card__speciality">Orthopedic Surgeon</div>
                        <div class="Card__rate Rate">
                            <img class="Rate__image" src="build/img/form/love.png" alt="Love" title="Love" />
                            <span class="Rate__text">2 People</span>
                        </div>
                        <div class="Card__price Price">
                            <span class="Price__currency">IDR</span>
                            <span class="Price__amount">150.000</span>
                        </div>
                    </a>
                    <div class="Card__action">
                        <!-- <button type="button" name="button" class="Button Button--outline-green">CALL NOW</button> -->
                        <button type="button" name="button" class="Button Button--outline-gray">MESSAGE</button>
                    </div>
                </div>
            </div>

            <div class="Card Card--search-doctor">
                <div class="Card__image ProfileImage ProfileImage--maybe">
                    <a href="doctor-detail-overview.html">
                        <img class="ProfileImage__image" src="build/img/sample/doctor5.png" alt="Dokter / Member Name" title="Dokter / Member Name"
                        />
                    </a>
                </div>
                <div class="Card__information">
                    <a href="doctor-detail-overview.html">
                        <div class="Card__name">dr. Roeslan Yusni Hasan, Sp.BS</div>
                        <div class="Card__speciality">Neurologist</div>
                        <div class="Card__rate Rate">
                            <img class="Rate__image" src="build/img/form/love.png" alt="Love" title="Love" />
                            <span class="Rate__text">110 People</span>
                        </div>
                        <div class="Card__price Price">
                            <span class="Price__currency">IDR</span>
                            <span class="Price__amount">500.000</span>
                        </div>
                    </a>
                    <div class="Card__action">
                        <button type="button" name="button" class="Button Button--outline-green">SCHEDULE</button>
                        <button type="button" name="button" class="Button Button--outline-gray">MESSAGE</button>
                    </div>
                </div>
            </div>

            <div class="Card Card--search-doctor">
                <div class="Card__image ProfileImage ProfileImage--maybe">
                    <a href="doctor-detail-overview.html">
                        <img class="ProfileImage__image" src="build/img/sample/doctor4.png" alt="Dokter / Member Name" title="Dokter / Member Name"
                        />
                    </a>
                </div>
                <div class="Card__information">
                    <a href="doctor-detail-overview.html" class="Card__link">
                        <div class="Card__name">dr. Amalia Evianti, Sp. Rad</div>
                        <div class="Card__speciality">Radiologist</div>
                        <div class="Card__rate Rate">
                            <img class="Rate__image" src="build/img/form/love.png" alt="Love" title="Love" />
                            <span class="Rate__text">110 People</span>
                        </div>
                        <div class="Card__price Price">
                            <span class="Price__currency">IDR</span>
                            <span class="Price__amount">300.000</span>
                        </div>
                    </a>
                    <div class="Card__action">
                        <button type="button" name="button" class="Button Button--outline-green">SCHEDULE</button>
                        <button type="button" name="button" class="Button Button--outline-gray">MESSAGE</button>
                    </div>
                </div>
            </div>

            <div class="Card Card--search-doctor">
                <div class="Card__image ProfileImage ProfileImage--available">
                    <a href="doctor-detail-overview.html">
                        <img class="ProfileImage__image" src="build/img/sample/doctor4.png" alt="Dokter / Member Name" title="Dokter / Member Name"
                        />
                    </a>
                </div>
                <div class="Card__information">
                    <a href="doctor-detail-overview.html">
                        <div class="Card__name">dr. Ika Dhanudibroto, Sp. JP</div>
                        <div class="Card__speciality">Cardiologist</div>
                        <div class="Card__rate Rate">
                            <img class="Rate__image" src="build/img/form/love.png" alt="Love" title="Love" />
                            <span class="Rate__text">110 People</span>
                        </div>
                        <div class="Card__price Price">
                            <span class="Price__currency">IDR</span>
                            <span class="Price__amount">180.000</span>
                        </div>
                    </a>
                    <div class="Card__action">
                        <button type="button" name="button" class="Button Button--outline-green">CALL NOW</button>
                        <button type="button" name="button" class="Button Button--outline-gray">MESSAGE</button>
                    </div>
                </div>
            </div>

            <div class="Card Card--search-doctor">
                <div class="Card__image ProfileImage ProfileImage--available">
                    <a href="doctor-detail-overview.html">
                        <img class="ProfileImage__image" src="build/img/sample/doctor2.png" alt="Dokter / Member Name" title="Dokter / Member Name"
                        />
                    </a>
                </div>
                <div class="Card__information">
                    <a href="doctor-detail-overview.html">
                        <div class="Card__name">dr. Yuslam Edi Fidianto, Sp. OG</div>
                        <div class="Card__speciality">Obstetrics &amp; Gynecologist</div>
                        <div class="Card__rate Rate">
                            <img class="Rate__image" src="build/img/form/love.png" alt="Love" title="Love" />
                            <span class="Rate__text">0 People</span>
                        </div>
                        <div class="Card__price Price">
                            <span class="Price__currency">IDR</span>
                            <span class="Price__amount">200.000</span>
                        </div>
                    </a>
                    <div class="Card__action">
                        <button type="button" name="button" class="Button Button--outline-green">CALL NOW</button>
                        <button type="button" name="button" class="Button Button--outline-gray">MESSAGE</button>
                    </div>
                </div>
            </div>

            <div class="Card Card--search-doctor">
                <div class="Card__image ProfileImage ProfileImage--available">
                    <a href="doctor-detail-overview.html">
                        <img class="ProfileImage__image" src="build/img/sample/doctor5.png" alt="Dokter / Member Name" title="Dokter / Member Name"
                        />
                    </a>
                </div>
                <div class="Card__information">
                    <a href="doctor-detail-overview.html">
                        <div class="Card__name">dr. Taslim Poniman, Sp. B, KBD</div>
                        <div class="Card__speciality">Digestive Surgeon</div>
                        <div class="Card__rate Rate">
                            <img class="Rate__image" src="build/img/form/love.png" alt="Love" title="Love" />
                            <span class="Rate__text">110 People</span>
                        </div>
                        <div class="Card__price Price">
                            <span class="Price__currency">IDR</span>
                            <span class="Price__amount">150.000</span>
                        </div>
                    </a>
                    <div class="Card__action">
                        <button type="button" name="button" class="Button Button--outline-green">CALL NOW</button>
                        <button type="button" name="button" class="Button Button--outline-gray">MESSAGE</button>
                    </div>
                </div>
            </div>

            <div class="Card Card--search-doctor">
                <div class="Card__image ProfileImage ProfileImage--maybe">
                    <a href="doctor-detail-overview.html">
                        <img class="ProfileImage__image" src="build/img/sample/doctor4.png" alt="Dokter / Member Name" title="Dokter / Member Name"
                        />
                    </a>
                </div>
                <div class="Card__information">
                    <a href="doctor-detail-overview.html">
                        <div class="Card__name">dr. Henny Hassan</div>
                        <div class="Card__speciality">General Practitioner</div>
                        <div class="Card__rate Rate">
                            <img class="Rate__image" src="build/img/form/love.png" alt="Love" title="Love" />
                            <span class="Rate__text">110 People</span>
                        </div>
                        <div class="Card__price Price">
                            <span class="Price__currency">IDR</span>
                            <span class="Price__amount">75.000</span>
                        </div>
                    </a>
                    <div class="Card__action">
                        <button type="button" name="button" class="Button Button--outline-green">SCHEDULE</button>
                        <button type="button" name="button" class="Button Button--outline-gray">MESSAGE</button>
                    </div>
                </div>
            </div>

            <div class="Card Card--search-doctor">
                <div class="Card__image ProfileImage ProfileImage--maybe">
                    <a href="doctor-detail-overview.html">
                        <img class="ProfileImage__image" src="build/img/sample/doctor4.png" alt="Dokter / Member Name" title="Dokter / Member Name"
                        />
                    </a>
                </div>
                <div class="Card__information">
                    <a href="doctor-detail-overview.html">
                        <div class="Card__name">dr. Henny Hassan</div>
                        <div class="Card__speciality">General Practitioner</div>
                        <div class="Card__rate Rate">
                            <img class="Rate__image" src="build/img/form/love.png" alt="Love" title="Love" />
                            <span class="Rate__text">110 People</span>
                        </div>
                        <div class="Card__price Price">
                            <span class="Price__currency">IDR</span>
                            <span class="Price__amount">75.000</span>
                        </div>
                    </a>
                    <div class="Card__action">
                        <button type="button" name="button" class="Button Button--outline-green">SCHEDULE</button>
                        <button type="button" name="button" class="Button Button--outline-gray">MESSAGE</button>
                    </div>
                </div>
            </div>

            <div class="Card Card--search-doctor">
                <div class="Card__image ProfileImage ProfileImage--maybe">
                    <a href="doctor-detail-overview.html">
                        <img class="ProfileImage__image" src="build/img/sample/doctor4.png" alt="Dokter / Member Name" title="Dokter / Member Name"
                        />
                    </a>
                </div>
                <div class="Card__information">
                    <a href="doctor-detail-overview.html">
                        <div class="Card__name">dr. Henny Hassan</div>
                        <div class="Card__speciality">General Practitioner</div>
                        <div class="Card__rate Rate">
                            <img class="Rate__image" src="build/img/form/love.png" alt="Love" title="Love" />
                            <span class="Rate__text">110 People</span>
                        </div>
                        <div class="Card__price Price">
                            <span class="Price__currency">IDR</span>
                            <span class="Price__amount">75.000</span>
                        </div>
                    </a>
                    <div class="Card__action">
                        <button type="button" name="button" class="Button Button--outline-green">SCHEDULE</button>
                        <button type="button" name="button" class="Button Button--outline-gray">MESSAGE</button>
                    </div>
                </div>
            </div>

            <div class="Loader">
                <img src="build/img/loader/puff.svg" />
            </div>
        </div>
    </div>
</div>


<!--h1>Doctors Information</h1>
<p>Click on the doctor who you want to contact.</p>
<md-content>
    <div layout="row">
        <md-input-container>
            <label>Search for symptoms, conditions,doctor, etc.</label>
            <input ng-model="searchquery">
        </md-input-container>
        <span>or</span>
        <md-input-container>
            <label>Browse medical categories</label>
            <md-select ng-model="selectedCategories" md-on-close="clearSearchTerm()" data-md-container-class="selectdemoSelectHeader"
                multiple>
                <md-select-header class="demo-select-header">
                    <input ng-model="searchTerm" type="search" placeholder="Search for a category.." class="demo-header-searchbox md-text">
                </md-select-header>
                <md-optgroup label="Categories">
                    <md-option ng-value="category" ng-repeat="doctor in doctors |
              filter:searchTerm">{{doctor.speciality}}</md-option>
                </md-optgroup>
            </md-select>
        </md-input-container>
    </div>

    <md-list>
        <md-list-item class="md-3-line doctor" ng-repeat="doctor in doctors | filter:searchquery | filter:selectedcategories">
            <img ng-src="{{'http://www.gravatar.com/avatar/'+doctor.profileimage}}" class="md-avatar" alt="{{doctor.name}}">
            <div class="md-list-item-text" layout="column">
                <h3><b>{{doctor.name}}</b></h3>
                <h4><small>{{doctor.speciality}}</small></h4>
                <p>Speciality note</p>
                <div ng-if="doctor.status == 'Online'"><small>Status: <span style="color:green;">{{doctor.status}}</span></small></div>
                <div ng-if="doctor.status == 'Offline'"><small>Status: <span style="color:red;">{{doctor.status}}</span></small></div>
            </div>
            <div layout="column">
                    <md-button ng-click="openDoctorDetails(doctor.id)">More Info</md-button>
                    <md-button ng=click="scheduleCall()">Schedule Call</md-button>
                </div>
        </md-list-item>
    </md-list>
</md-content-->